<!DOCTYPE html>
<html>
<title>Stripe Payment Portal</title>
<body>
<h1>FakeFlix Payment Gateway</h1>
<hr/>
<b>Email: <span><%= email %></span></b>

<h3>You're About to Purchase:</h3>

<b>Subscription Type: <span><%= subscription %>, €<%= price %></span></b>

<br/>
<br/>

<form action="http://localhost:3000/charge" method="POST">
    <!-- hidden fields for passing data in our POST request -->
    <input name="price" type="hidden" value="<%= price %>"/>
    <input name="email" type="hidden" value="<%= email %>"/>
    <input name="subscription_type" type="hidden" value="<%= subscription %>"/>

    <!-- Open the stripe payment form -->
    <script

            src="https://checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="<%= key %>"
            data-amount=""
            data-currency="eur"
            data-name="fakeflix"
            data-description="Service subscription"
            data-email="<%= email %>"
            data-locale="auto">

    </script>
</form>
</body>
</html>